

body {
    background-color: lightblue;
  }
    h5 {
    color: white;
    text-align: center;
  }
  
    p {
    font-family: verdana;
    font-size: 20px;
  }


        <h5>Informatica</h5>
        <p>The beginning</p>
  
